.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--neutral-color-3);
  
  @media (max-width: 768px) {
    width: 90%;
  }
}

.left, .right {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.logo a {
  color: var(--neutral-color-1);
  text-decoration: unset;
}

.nav {
  margin: 0 40px;
  display: flex;
}

.navItem {
  padding: 0 20px;
}

.navItem a {
  color: var(--neutral-color-2);
  text-decoration: unset;

  &:hover {
    color: var(--neutral-color-1);
  }
}

.cart {
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }
}

.cart, .profile {
  cursor: pointer;
}

.menu {
  margin-right: 30px;
  padding-top: 5px;
  cursor: pointer;
}

.mobileMenu {
  position: relative;
  z-index: 10000;
  height: calc(100vh);
  width: 90%;

  & .nav {
    flex-direction: column;
    margin: 20px 0;
  }

  & .navItem {
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      color: var(--neutral-color-6);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}