@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;

  --primary-color-1: hsl(26, 100%, 55%);
  --primary-color-2: hsl(25, 100%, 94%);

  --neutral-color-1: hsl(220, 13%, 13%);
  --neutral-color-2: hsl(219, 9%, 45%);
  --neutral-color-3: hsl(220, 14%, 75%);
  --neutral-color-4: hsl(223, 64%, 98%);
  --neutral-color-5: hsl(0, 0%, 100%);
  --neutral-color-6: hsl(0, 0%, 0%);

  --link-color: #0079FF;
  --link-color-hover: #60ABFF;

  --font-size-1: 16px;

  --font-family: 'Kumbh Sans', sans-serif;

  --font-weight-1: 400;
  --font-weight-2: 700;
}