.description {
  width: 40%;
  padding-top: 50px;
}

.company {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color-1);
  margin-bottom: 20px;
}

.title {
  font-size: 46px;
  font-weight: 700;
  color: var(--neutral-color-6);
  margin-bottom: 40px;
}

.text {
  max-width: 80%;
  line-height: 25px;
  color: var(--neutral-color-2);
  margin-bottom: 30px;
}

.price {
  font-size: 26px;
  font-weight: 700;
}

.sale {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: var(--primary-color-1);
}